---
title: "This is the title of another post"
slug: "css-grids"
layout: "interior"
author: "Jehan Tremback"
display_date: 2013-07-3
excerpt: "CSS grids are extremely useful for any kind of web design. They give you consistent horizontal spacing, sizing, and rhythm. They also eliminate a lot of repetetive layout-related css that you would otherwise need to write. However, they can be a bit brain-bending. I'm going to go over the construction of a grid and how I have dealt with many of the challenges that come up."
---

p CSS grids are extremely useful for any kind of web design. They give you consistent horizontal spacing, sizing, and rhythm. They also eliminate a lot of repetetive layout-related css that you would otherwise need to write. However, they can be a bit brain-bending. I'm going to go over the construction of a grid and how I have dealt with many of the challenges that come up. 
p There are many different ways to build grids, and most of the choices are a matter of personal preference. In this grid, I choose explicit syntax over implicit "automatic" behavior. In my opinion, it is much quicker to type a few extra classes when you are building your layout than to debug unexpected side effects of "automatic" behavior.
p I have written this grid in Stylus, because it is one of the better CSS preprocessors out there. If you are writing any amount of CSS without a preprocessor, it is because you hate yourself. There's LESS, but it is woefully underpowered. I would consider LESS a partial preprocessor, or a proto-preprocessor. SASS is another option, and has most of the same features as Stylus, but with a more verbose syntax.
