---
layout: "main"
title: "Our portfolio"
---

.port-listing
	each page, i in getCollection('portfolio').toJSON()
		a.b-gutter(href='#{ page.url }')
			._title.text-center
				h2.p_hide._inner !{ page.title }
				h4.p_show._inner !{ page.title }
			img(src='images/#{ page.slug }_banner.png')
