---
layout: "main"
title: "Our portfolio"
---

.port-listing
	each page, i in getCollection('portfolio').toJSON()
		.project.b-gutter
			h2.dbl-gutter.col-12-12.text-center !{ page.title }
			a(href='#{ page.url }')
				img(src='images/#{ page.slug }_banner.png')
