---
layout: "default"
---

.col-12-12.center.main
	.col-4-12
		.logo
			.img
				img(src="/images/logo_min1000.png")
	.col-8-12
		h1.no-t-marg We design and build <br/> awesome web apps.
		p.large-text SF Dev Labs is a full-service node.js shop that specializes in web apps and content publishing.
